td.pin-column:hover .icon{
    background-color: #528fd5;
}

a.disabled {
    color: grey!important;
    cursor: default!important;
    svg{
        opacity: .4;
    }
}

.simple-td-name {
    min-width: 250px;
}

