.login .horiz-tabs {
    width: 100%;
}

.login .horiz-tabs>li {
    width: 33.3%;
}

.login>.grid-block{
    width: 700px;
}

.login .button {
    font-size: 1.1rem;
}

.login {
    margin: 1.5rem 0;
}

.login .grid-content {
    padding: 0;
}

.login .tab-content {
    padding: 0 1.5rem 1rem 1.5rem;
    text-align: left;
}