.balance-row {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 20px;

    &:hover {
        cursor: pointer;
    }
}

.SimpleTrade__help-text {
    font-style: italic;
    padding-top: 5px;
    font-size: 95%;
}

.SimpleTrade__modal {
    overflow: auto;
    > div.Modal__header {
        padding: 20px 2rem;
    }

    > div.Modal__divider {
        margin: 0px;
        border-bottom: 2px solid rgb(2, 2, 2);
    }
}

.SimpleTrade__hide-zero {
    position: relative;
    top: -3px;
    cursor: pointer;
}

#simple_transfer_modal {
    max-width: 650px;
}

#simple_transfer_modal, #simple_deposit_modal, #simple_withdraw_modal {
    padding: 0;
}

#simple_deposit_modal, #simple_withdraw_modal {
    overflow: auto !important;
    max-width: 500px;
    label {
        text-transform: none !important;
    }
}

#simple_buy_modal, #simple_sell_modal {
    overflow: auto !important;
    padding: 0;
}

a.disabled {
    color: grey !important;
    cursor: default !important;
}

.help-tooltip {
    padding-bottom: 1px;
    border-bottom: 2px dotted #ccc;
    cursor: help;
}

.deposit-address {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.clip-button {
    border: none !important;
}

.SimpleTrade__withdraw-row {
    padding: 10px 0;
}
.responsive-text {
    font-size: 80%;
}
@include breakpoint(medium) {
    .responsive-text {
        font-size: inherit;
    }
}
