.balance-row {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 20px;

    &.active {
        background-color: #737373;
    }

    &:hover {
        cursor: pointer;
        background-color: #737373;
    }
}

.SimpleTrade__help-text {
    font-style: italic;
    padding-top: 5px;
    font-size: 95%;
}

#simple_transfer_modal {
    padding: 0;
}

#simple_buy_modal, #simple_sell_modal {
    background-color: grey;
    padding: 0;
}

a.disabled {
    color: grey !important;
    cursor: default !important;
}
