head {
    background: url(./1.png);
    background: url(./blockpay.png);
    background: url(./btc.png);
    background: url(./open_btc.png);
    background: url(./open.btc.png);
    background: url(./heat.png);
    background: url(./open_heat.png);
    background: url(./bts.png);
    background: url(./btsr.png);
    background: url(./cny.png);
    background: url(./open_cny.png);
    background: url(./dao.png);
    background: url(./dash.png);
    background: url(./open_dash.png);
    background: url(./dct.png);
    background: url(./open_dct.png);
    background: url(./dgd.png);
    background: url(./open_dgd.png);
    background: url(./eth.png);
    background: url(./open_eth.png);
    background: url(./eur.png);
    background: url(./open_eur.png);
    background: url(./eurt.png);
    background: url(./etp.png);
    background: url(./game.png);
    background: url(./open_game.png);
    background: url(./gold.png);
    background: url(./grc.png);
    background: url(./open_grc.png);
    background: url(./icoo.png);
    background: url(./incnt.png);
    background: url(./open_incnt.png);
    background: url(./lisk.png);
    background: url(./open_lisk.png);
    background: url(./open_mkr.png);
    background: url(./nxc.png);
    background: url(./open_nxc.png);
    background: url(./obits.png);
    background: url(./peerplays.png);
    background: url(./steem.png);
    background: url(./open_steem.png);
    background: url(./usd.png);
    background: url(./open_usd.png);
    background: url(./usdt.png);
    background: url(./btwty.png);
    background: url(./hempsweet.png);
    background: url(./warrant.png);
    background: url(./yoyow.png);
    background: url(./zengold.png);
}


